/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: large;
}

body {
  width: 950px;
  margin: 0 auto;
  color: whitesmoke;
  background-size: cover;
  background-image: url("img/DC COMICS 0.png");

}

h1, h2 {
  font-family: 'Alkatra', cursive;
}

/* header styles */
@media (min-width:768px){
  h1 {
    font-size: 4rem;
    text-align: center;
    color: azure;
  }
}

@media (max-width:768px){
  h1 {
    font-size: 2rem;
    text-align: left;
    margin-left: 6%;
  }
}

@media (min-width:768px){
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
}


@media (min-width:768px){
  header p {
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
  }
}

/* section styles */
@media (min-width:768px){
  section article{
    width: 33%;
    float: left;
  }  
}

@media (max-width:768px){
  section article{
    margin-left: 5%;
  }  
}

section p {
  margin: 4px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 3rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
  color: cyan;
}